weights/*.*
__pycache__
segmentations
test
version_1
version_1_extracted
version_2
version_2_extracted
.idea
corpus
ignore/*
output_results
omr_dataset
.ipynb_checkpoints
*.ipynb
notation_editor.py
src/notation_editor_auxiliary.py
*.json
KuiSCIMA
OUTPUT
DEMO
modify_corpus.py
*.std
*.pkl
